<h1>Dashboard</h1>

<% if current_user and current_user.admin %>

<div id="users">
<table>
<tr>
<th>
All users
</th>
</tr>

<% for user in @users_list %>
 <tr>
 <td><%= user.name %> <%= user.email %></td>
 </tr>
<% end %> 

</table>
</div>

<% end %>

<div id="user-groups">
Groups
</div>
<div id="learning-paths">
Learning paths
</div>
<div id="scenes">
Scenes
</div>


